.root {
	-fx-background-color: lightblue;
}

.submitButton {
	-fx-color: orange;
}

.submitButton:hover {
	-fx-color: #CCCCCC;
}

#twoDArray {
	-fx-font: bold 20pt "Arial";
	-fx-text-fill: azure;
}

.textTitle {
	-fx-font: bold 40pt "Arial";
	-fx-fill: white;
}

.ultimateBoard {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-min-width: 200;
    -fx-min-height: 200;
}

.basicBoard_player1 {
	-fx-background-color: pink;
}

.basicBoard_player2 {
	-fx-background-color: blueviolet;
}

.validBoard {
	 
	 -fx-background-color: rgb(232, 125, 116, 0.2); 
}

.tie {
	-fx-background-color: darkgrey;
}

.unpickable {
	-fx-background-color: rgb(244, 66, 66);
}

.neutral {
	-fx-background-color: rgb(27, 132, 29);
}