.root {
	-fx-background-color: lightblue;
}

.confirmButton {
	-fx-color: #bcff72;
	-fx-background-radius: 5em;
}
.confirmButton:hover {
	-fx-color: #95f925;	
}

.shopButton {
	-fx-color: #ffcf91;
	-fx-background-radius: 5em;
}

.shopButton:hover {
	-fx-color: #ffa632;	
}

.continueButton {
	-fx-color: #aef9e0;
	-fx-background-radius: 5em;
}

.continueButton:hover {
	-fx-color: #4bf4bc;	
}

.quitButton {
	-fx-color: #ffab9e;
	-fx-background-radius: 5em;
}

.quitButton:hover {
	-fx-color: #ff5f47;	
}


#twoDArray {
	-fx-font: bold 20pt "Arial";
	-fx-text-fill: azure;
}

.textTitle {
	-fx-font: bold 40pt "Arial";
	-fx-fill: white;
}

.playerVSInfo {
	-fx-font: bold 16pt "Arial";
	-fx-text-fill: white;
}
.player1BGC {
	-fx-text-fill: #ce12bf;
}

.player2BGC {
	-fx-text-fill: #fc7e00;
}

.ultimateBoard {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-min-width: 200;
    -fx-min-height: 200;
}
.previousMove {
	-fx-background-color: #fce700;
}

.basicBoard_player1 {
	-fx-background-color: #ce12bf;
}

.basicBoard_player2 {
	-fx-background-color: #fc7e00;
}

.validBoard {
	 -fx-background-color: white; 
}

.tie {
	-fx-background-color: darkgrey;
}

.unpickable {
	-fx-background-color: rgb(244, 66, 66);
}

.neutral {
	-fx-background-color: rgb(27, 132, 29);
}

.uniqueTileCheckBox {
	-fx-padding:0 0 20 0;
}

.vBoxRootTop {
	-fx-padding:0 0 20 0;
}

.vBoxForGame {
	-fx-padding: 20 0 0 0;
}